/*-zinothec.blogspot.com-*/
.post-body .boxifiication {
    position: relative;
    overflow: visible;
    padding: 20px;
    margin: 40px 5px;
  background-color: #fafafc;
    border: 1px solid rgba(69,90,99,.12);
    clear: both;
    display: block;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}.post-body .boxifiication h6 {
    position: absolute;
   background-color: #fafafc;
    color: #3d5afe;
    padding: 0 10px;
    margin: 0 10px;
    font-size: 15px;
    display: inline-block;
    z-index: 1;
    top: -10px;
    right: 0;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 20px);
    height: 24px;
    line-height: 24px;
}.post-body .boxificatiion.note1 h6:before {
    content: "\e88f";
}.post-body .boxifiication h6:before {
    display: inline-block;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 21px;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    margin: 0 5px;
}.post-body .boxifiication .module {
    margin: 5px 0;
    font-size: 13px;
    display: block;
    color: #1b1a1a;
}.post-body .note1 svg.bi.bi-info-circle {
    fill: #3d5afe;
    width: 18px;
    height: 18px;
}
  /*//////////////////////*/
.post-body .boxifiication.edit li {
    font-size: 13px;
    margin: 10px auto 0;
    padding: 0px 22px 10px 15px;
    border-bottom: 1px solid rgba(69,90,99,.12);
}.post-body .boxifiication.edit li img {
    display: inline-block;
    margin: 0 5px;
    border: 0;
    vertical-align: middle;
}.post-body .pro svg.bi.bi-star {
    fill: #3d5afe;
    height: 17px;
    margin-left: 5px;
}.post-body .edit svg.bi.bi-wrench {
    fill: #3d5afe;
    width: 18px;
    height: 18px;
}/*////////////////////*/
 .post-body .notification {
    color: #ffffff;
    border: 0;
    margin: 30px 0;
    padding: 20px 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}.post-body .notification.red {
    background: #fe3231;
    border-radius: 6px;
}.post-body .notification.red svg {
    fill: #fff;
    margin-left: 5px;
    width: 20px;
    height: 18px;
}
  /*///////////*/
  .card-panel {
    position: relative;
    overflow: hidden;
    padding: 24px;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    list-style-type: none;
    list-style: none;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}h4.anchortitle {
    margin: 16px 5px !important;
}.post-body .edit svg.bi.bi-list-stars {
    fill: #3d5afe;
    width: 26px;
    height: 26px;
}.post-body span.this-color {
    width: 24px;
    height: 11px;
  /*  background: #3d5afe;*/
    display: inline-block;
    border-radius: 6px;
    margin: 0px 5px;
    padding: 0;
}.post-body .tableindfo-zn {
    background: #fff;
    padding: 10px;
text-align: center;
  box-shadow: 0 2px 4px 0px rgb(0 0 0 / 40%);
    margin: 10px auto;border-radius: 3px;
}.post-body .tableindfo-zn ul {
    display: flex;
}.post-body .tableindfo-zn li {
    width: 100%;
}.post-body .tableindfo-zn li svg {
    fill: #3d5afe;
    width: 40px;
    height: 35px;
    margin: 1px 4px;
}.post-body .tableindfo-zn li a {
    background: #3d5afe;
    color: #fff;
    padding: 2px 6px;
    margin: 9px 3px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0px rgb(0 0 0 / 40%);
}.post-body .tableindfo-zn li span {
    color: #000;
    font-family: Cairo !important;
}.post-body .tableindfo-zn h6 svg {
    fill: #3d5afe;
    width: 30px;
    height: 28px;
}.post-body .tableindfo-zn h6 {
    margin: 10px !important;
}.post-body .nicee{font-size:15px;background: rgba(56,141,128,.12); color: #218a36; padding: 3px 9px; display: inline-block; border-radius: 30px; margin: 3px; user-select: none !important;}
.post-body  .nonicee{font-size:15px;background: rgba(56,141,128,.12); color: #f11b02; padding: 3px 9px; display: inline-block; border-radius: 30px; margin: 3px; user-select: none !important;}
 .post-body .nicee svg { width: 22px; height: 19px; margin: 0px 0 -4px;fill:#218a36; }
  .post-body .nonicee svg { width: 22px; height: 19px; margin: 0px 0 -4px;fill:#f11b02; }
 .navMenu li .link span.new:after { content: &#39;جديد !&#39;; margin-right: 8px; font-size: 90%; font-weight: 600; color: white; background: #3d5afe; padding: 10px 8px; border-radius: 5px; } .navMenu li .link span.soon:after { content: &#39;قريبا !&#39;; margin-right: 8px; font-size: 90%; font-weight: 600; color: white; background: #3d5afe; padding: 10px 8px; border-radius: 5px; }
   .owl-item {
     margin-left: -4px;
    width: !important;
    padding: 0px 1px 2px 17px !important;
}
/*=====================================
= OwlCarousel css
=====================================*/
.service-icon img{width: 75px;margin: 0 auto;padding: 8px;display: block;}
.service-icon icon {display: inline-block;background: linear-gradient(to left,#d70857,#8c1b37);padding: 13px;border-radius: 100px;}
.service-icon{text-align: center;}
.owl-carousel .owl-controls{margin-top:0;text-align:center;}
.owl-controls{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.owl-page,.owl-controls .owl-buttons div{cursor:pointer;}
.owl-carousel .owl-controls .owl-buttons{position:static;margin:0;padding:0;height:0;width:100%;z-index:9;}
.owl-carousel .owl-controls .owl-buttons div.owl-prev{right:0;border-radius: 35px 0 0 35px;}
.owl-carousel .owl-controls .owl-buttons div.owl-next{left:0;border-radius: 0 35px 35px 0;}
.owl-carousel .owl-controls .owl-buttons div{position:absolute;margin:0;padding:0;top:40%;z-index:0;display:inline-block;font-size:17px;overflow:hidden;}
.owl-carousel .owl-controls .owl-buttons div .fa{position:relative;width:38px;height:38px;line-height:38px;border:0;background-color:#3d5afe;color:#FFF;font-size:17px;text-align:center;}
/*-----shah content------*/
.owl-carousel .owl-controls{margin-top:0;}
.owl-carousel{display:none;}
.owl-carousel,.owl-carousel .owl-wrapper,.owl-carousel .owl-wrapper-outer{position:relative;overflow:hidden;width:100%;transition: none;}
.owl-carousel .owl-wrapper,.owl-carousel .owl-item{backface-visibility:hidden;}
.owl-carousel .owl-item{float:right;}
/*----stat [ opacity ] 0.8----*/
.owl-carousel .owl-controls .owl-buttons div .fa:hover{-ms-filter:&quot;progid:DXImageTransform.Microsoft.Alpha(Opacity=0.8)&quot;;filter:alpha(opacity=0.8);
opacity:0.8;}
  .carousel {
    margin: 0 auto;
    /* background: #fff; */
    /* padding: 5px 330px; */
}.wrapper-zn {
    margin:0 auto;
}
  .prcd {
    background: #fff;
    margin:0  13px;
    padding: 14px;
    box-shadow: 0 2px 4px 0px rgb(0 0 0 / 40%) !important;
    border-radius: 5px;width: 100%;height: 330px;
}.prcd-header {
    padding: 0 8px 10px;
}span.prcd-price {
    background: #3d5afe;
    color: #fff;
    padding: 2px 7px;
    font-size: 15px;
    /* font-weight: 900; */
    border-radius: 4px;
}.prcd-img {
    margin: 5px auto;
    width: auto;
}a.prcd-more {
    position: absolute;
    /* left: 346px; */
  margin: -20px 150px 0px 0;
  }.prcd-more svg {
    width: 30px;
    height: 30px;
    background: #3d5afe;
    fill: #fff;
    border-radius: 100%;
    padding: 3px;
    box-shadow: 0 2px 4px 0px rgb(0 0 0 / 43%) !important;
}span.prcd-title {
    font-size: 18px;
    margin: 5px;
color:#000;
}.prcd-tag {
    margin: 9px 6px 2px 6px;
}span.prcd-tag svg {
    fill: #fff;
    background: #3d5afe;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    padding:3px 5px;
box-shadow: 0 2px 4px 0px rgb(0 0 0 / 25%) !important;
}
.prcd-img img {
    width: 100%;
    height: 188px !important;
}.Blog .post .post-entry img {
    display: inline-block;
    height: 188px!important;
}
 .mint-tips,
[class*=mint-tips] {
position: relative;
display: inline-block;
-webkit-font-smoothing: antialiased;
height: 100%
}
.mint-tips::before, [class*=mint-tips]::before {
content: attr(data-title);
white-space: nowrap;
top: -10px;
color: #fff;
font-weight: 400;
padding: 4px 7px;
background: #3d59fc;
box-shadow: 0 2px 2px -1px rgb(0 0 0 / 30%), 0 1px 0 0 rgb(0 0 0 / 5%);
pointer-events: none;
font-size: 14px;
text-decoration: none;
border-radius: 7px;
}
.mint-tips::after, [class*=mint-tips]::after {
content: &quot;&quot;;
border-style: solid;
border-color: rgb(61 90 254) transparent transparent;
border-width: 10px;
top: 8px;
}
.mint-tips::after,
.mint-tips::before,
[class*=mint-tips]::after,
[class*=mint-tips]::before {
opacity: 0;
position: absolute;
left: 50%;
z-index: 100;
-webkit-transform: translate(-50%, -100%);
transform: translate(-50%, -100%);
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-transform-origin: top;
transform-origin: top
}
.mint-tips::after,
[class*=mint-tips]::after {
content: &quot;&quot;;
border-style: solid;
border-color: rgb(61 90 254) transparent transparent;
border-width: 10px;
top: 8px
}
.mint-tips:hover::after,
.mint-tips:hover::before,
[class*=mint-tips]:hover::after,
[class*=mint-tips]:hover::before {
opacity: 1
}
[data-mint-tips=left]::after,
[data-mint-tips=left]::before {
top: 50%;
right: auto;
-webkit-transform: translate(-100%, -50%);
transform: translate(-100%, -50%)
}
[data-mint-tips=left]::before {
left: -10px
}
[data-mint-tips=left]::after {
left: 8px;
border-color: transparent transparent transparent rgba(0, 0, 0, .8)
}
[data-mint-tips=right]::after,
[data-mint-tips=right]::before {
top: 50%;
left: auto;
-webkit-transform: translate(100%, -50%);
transform: translate(100%, -50%)
}
[data-mint-tips=right]::before {
right: -10px
}
[data-mint-tips=right]::after {
right: 8px;
border-color: transparent rgba(0, 0, 0, .8) transparent transparent
}
[data-mint-tips=bottom]::after,
[data-mint-tips=bottom]::before {
top: auto;
-webkit-transform: translate(-50%, 100%);
transform: translate(-50%, 100%)
}
[data-mint-tips=bottom]::before {
bottom: -10px
}
[data-mint-tips=bottom]::after {
bottom: 8px;
border-color: transparent transparent rgba(0, 0, 0, .8)
}
[class*=mint-tips--]::after,
[class*=mint-tips--]::before {
-webkit-transition: opacity .2s, -webkit-transform .2s;
transition: opacity .2s, -webkit-transform .2s;
transition: transform .2s, opacity .2s;
transition: transform .2s, opacity .2s, -webkit-transform .2s
}
[class*=mint-tips--]:hover::after,
[class*=mint-tips--]:hover::before {
-webkit-transition: opacity .3s, -webkit-transform ease .5s;
transition: opacity .3s, -webkit-transform ease .5s;
transition: transform ease .5s, opacity .3s;
transition: transform ease .5s, opacity .3s, -webkit-transform ease .5s
}
[class*=mint-tips--]::before {
-webkit-transform-origin: bottom;
transform-origin: bottom
}
[class*=mint-tips--]::after {
-webkit-transform-origin: top;
transform-origin: top
}
[data-mint-tips=left][class*=mint-tips--]::before {
-webkit-transform-origin: right;
transform-origin: right
}
[data-mint-tips=left][class*=mint-tips--]::after {
-webkit-transform-origin: left;
transform-origin: left
}
[data-mint-tips=bottom][class*=mint-tips--]::before {
-webkit-transform-origin: top;
transform-origin: top
}
[data-mint-tips=bottom][class*=mint-tips--]::after {
-webkit-transform-origin: bottom;
transform-origin: bottom
}
[data-mint-tips=right][class*=mint-tips--]::before {
-webkit-transform-origin: left;
transform-origin: left
}
[data-mint-tips=right][class*=mint-tips--]::after {
-webkit-transform-origin: right;
transform-origin: right
}
.mint-tips--fade:hover::after,
.mint-tips--fade:hover::before {
-webkit-transition: opacity .5s;
transition: opacity .5s
}
[class*=mint-tips--slide]:hover::after,
[class*=mint-tips--slide]:hover::before {
-webkit-transform: translate(-50%, -100%);
transform: translate(-50%, -100%)
}
[data-mint-tips=left][class*=mint-tips--slide]:hover::after,
[data-mint-tips=left][class*=mint-tips--slide]:hover::before {
-webkit-transform: translate(-100%, -50%);
transform: translate(-100%, -50%)
}
[data-mint-tips=bottom][class*=mint-tips--slide]:hover::after,
[data-mint-tips=bottom][class*=mint-tips--slide]:hover::before {
-webkit-transform: translate(-50%, 100%);
transform: translate(-50%, 100%)
}
[data-mint-tips=right][class*=mint-tips--slide]:hover::after,
[data-mint-tips=right][class*=mint-tips--slide]:hover::before {
-webkit-transform: translate(100%, -50%);
transform: translate(100%, -50%)
}
.mint-tips--slide-in::after,
.mint-tips--slide-in::before {
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%)
}
[data-mint-tips=left].mint-tips--slide-in::after,
[data-mint-tips=left].mint-tips--slide-in::before {
-webkit-transform: translate(-90%, -50%);
transform: translate(-90%, -50%)
}
[data-mint-tips=bottom].mint-tips--slide-in::after,
[data-mint-tips=bottom].mint-tips--slide-in::before {
-webkit-transform: translate(-50%, 50%);
transform: translate(-50%, 50%)
}
[data-mint-tips=right].mint-tips--slide-in::after,
[data-mint-tips=right].mint-tips--slide-in::before {
-webkit-transform: translate(90%, -50%);
transform: translate(90%, -50%)
}
.mint-tips--slide-out::after,
.mint-tips--slide-out::before {
-webkit-transform: translate(-50%, -120%);
transform: translate(-50%, -120%)
}
[data-mint-tips=left].mint-tips--slide-out::before {
-webkit-transform: translate(-110%, -50%);
transform: translate(-110%, -50%)
}
[data-mint-tips=left].mint-tips--slide-out::after {
-webkit-transform: translate(-200%, -50%);
transform: translate(-200%, -50%)
}
[data-mint-tips=bottom].mint-tips--slide-out::after,
[data-mint-tips=bottom].mint-tips--slide-out::before {
-webkit-transform: translate(-50%, 120%);
transform: translate(-50%, 120%)
}
[data-mint-tips=right].mint-tips--slide-out::before {
-webkit-transform: translate(110%, -50%);
transform: translate(110%, -50%)
}
[data-mint-tips=right].mint-tips--slide-out::after {
-webkit-transform: translate(200%, -50%);
transform: translate(200%, -50%)
}
[class*=mint-tips--bounce]:hover::after,
[class*=mint-tips--bounce]:hover::before {
-webkit-transition: opacity .3s, -webkit-transform cubic-bezier(.66, -2, .36, 2) .5s;
transition: opacity .3s, -webkit-transform cubic-bezier(.66, -2, .36, 2) .5s;
transition: transform cubic-bezier(.66, -2, .36, 2) .5s, opacity .3s;
transition: transform cubic-bezier(.66, -2, .36, 2) .5s, opacity .3s, -webkit-transform cubic-bezier(.66, -2, .36, 2) .5s;
-webkit-transform: translate(-50%, -100%) scale(1);
transform: translate(-50%, -100%) scale(1)
}
[data-mint-tips=left][class*=mint-tips--bounce]:hover::after,
[data-mint-tips=left][class*=mint-tips--bounce]:hover::before {
-webkit-transform: translate(-100%, -50%) scale(1);
transform: translate(-100%, -50%) scale(1)
}
[data-mint-tips=bottom][class*=mint-tips--bounce]:hover::after,
[data-mint-tips=bottom][class*=mint-tips--bounce]:hover::before {
-webkit-transform: translate(-50%, 100%) scale(1);
transform: translate(-50%, 100%) scale(1)
}
[data-mint-tips=right][class*=mint-tips--bounce]:hover::after,
[data-mint-tips=right][class*=mint-tips--bounce]:hover::before {
-webkit-transform: translate(100%, -50%) scale(1);
transform: translate(100%, -50%) scale(1)
}
.mint-tips--bounce-in::after,
.mint-tips--bounce-in::before {
-webkit-transform: translate(-50%, -100%) scale(.8);
transform: translate(-50%, -100%) scale(.8)
}
[data-mint-tips=left].mint-tips--bounce-in::after,
[data-mint-tips=left].mint-tips--bounce-in::before {
-webkit-transform: translate(-100%, -50%) scale(.8);
transform: translate(-100%, -50%) scale(.8)
}
[data-mint-tips=bottom].mint-tips--bounce-in::after,
[data-mint-tips=bottom].mint-tips--bounce-in::before {
-webkit-transform: translate(-50%, 100%) scale(.8);
transform: translate(-50%, 100%) scale(.8)
}
[data-mint-tips=right].mint-tips--bounce-in::after,
[data-mint-tips=right].mint-tips--bounce-in::before {
-webkit-transform: translate(100%, -50%) scale(.8);
transform: translate(100%, -50%) scale(.8)
}
.mint-tips--bounce-out::after,
.mint-tips--bounce-out::before {
-webkit-transform: translate(-50%, -100%) scale(1.1);
transform: translate(-50%, -100%) scale(1.1)
}
[data-mint-tips=left].mint-tips--bounce-out::after,
[data-mint-tips=left].mint-tips--bounce-out::before {
-webkit-transform: translate(-100%, -50%) scale(1.1);
transform: translate(-100%, -50%) scale(1.1)
}
[data-mint-tips=bottom].mint-tips--bounce-out::after,
[data-mint-tips=bottom].mint-tips--bounce-out::before {
-webkit-transform: translate(-50%, 100%) scale(1.1);
transform: translate(-50%, 100%) scale(1.1)
}
[data-mint-tips=right].mint-tips--bounce-out::after,
[data-mint-tips=right].mint-tips--bounce-out::before {
-webkit-transform: translate(100%, -50%) scale(1.1);
transform: translate(100%, -50%) scale(1.1)
}
